﻿@using proiect_IS.Models
@model LayoutModel

@{
    Layout = null;

    int i = 0;
}

<div class="css-treeview">
    <ul>
        <li>
            <input type="checkbox" id="item-0" checked="checked"/><label for="item-0">Chatroom</label>

            <ul>
                <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                <li>@Html.ActionLink("Account settings", "Settings", "Chat")</li>
                <li>@Html.ActionLink("Create a channel", "CreateChannel", "Chat")</li>
                <li>@Html.ActionLink("Find a channel", "FindChannel", "Chat")</li>

                @{ i = 0; }
                @foreach (var channel in Model.CurrentUser.Channels.OrderBy(x => x.Name))
                {
                    var prefs = Model.CurrentUser.ChannelUserPrefs.First(x => x.ChannelId == channel.PublicId);
                    <li>
                        <input type="checkbox" id="item-0-@i" checked="checked"/><label for="item-0-@i">@channel.Name</label>
                        <ul>
                            <li>@Html.ActionLink("Channel settings", "ChannelSettings", "Chat", new {id = channel.PublicId}, null)</li>
                            <li>@Html.ActionLink("Create room", "CreateRoom", "Chat", new {id = channel.PublicId}, null)</li>

                            @if (channel.Rooms.Count > 0)
                            {
                                <li>Rooms:</li>
                            }
                            @foreach (var room in channel.Rooms.Where(x => prefs.Level >= x.MinimumRequiredUserLevel).OrderBy(x => x.Name))
                            {
                                <li>@Html.ActionLink(room.Name, "ViewRoom", "Chat", new {id = room.PublicId}, null) @Html.ActionLink("⚙", "RoomSettings", "Chat", new {id = room.PublicId}, new {style = "float:right;"})</li>
                            }
                        </ul>
                    </li>

                    i++;
                }
            </ul>
        </li>
    </ul>
</div>