﻿<!DOCTYPE html>

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
<div style="left: 45%; top: 45%">
    <div>
        <h2>Login or register</h2>
    </div>
    <form method="post">
        Username: <br/>
        <input type="text" name="name" value=""/><br/>
        Password:<br/>
        <input type="password" name="password" value=""/><br/><br/>
        <input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>
