﻿@using proiect_IS.Utilities
@using proiect_IS.Models
@model proiect_IS.Models.Channel

@{
    ViewBag.Title = Model.Name + " settings";

    User me = ViewBag.Me;
    ChannelUserPrefs prefs = me.ChannelUserPrefs.First(x => x.ChannelId == Model.PublicId);
}

<h2>Channel "@Model.Name" settings</h2>
<br />
<br />

<div style="@(prefs.Level < Enumerations.ChannelUserLevel.Moderator ? "display: none;" : "")">
    <h4>Change description:</h4>
    <br />

    <form method="post" action="@Url.Action("ChannelSettingsDesc", "Chat")">
        <div>
            Description:<br />
            <input type="text" name="description" value="@Model.Description"/>
            <br />
            
            <input type="hidden" name="channelId" value="@Model.PublicId"/>
            
            <input type="submit" value="Submit" />
        </div>
    </form>
    
    <hr/>
</div>
    
<div style="@(prefs.Level < Enumerations.ChannelUserLevel.Administrator ? "display: none;" : "")">
    <h4>Change visibility:</h4>
    <br />

    <form method="post" action="@Url.Action("ChannelSettingsVis", "Chat")">
        <div>
            Visibility:<br />
            <input type="radio" name="visibility" value="public" @(Model.Visibility==Enumerations.ChannelVisibility.Public?"checked=\"checked\"":"") /> public
            <input type="radio" name="visibility" value="hidden" @(Model.Visibility==Enumerations.ChannelVisibility.Hidden?"checked=\"checked\"":"") /> hidden
            <input type="radio" name="visibility" value="private" @(Model.Visibility==Enumerations.ChannelVisibility.Private?"checked=\"checked\"":"") /> private
            <br />

            <input type="hidden" name="channelId" value="@Model.PublicId" />

            <input type="submit" value="Submit" />
        </div>
    </form>

    <hr />
</div>
    
<div style="@(prefs.Level < Enumerations.ChannelUserLevel.Administrator || Model.Visibility == Enumerations.ChannelVisibility.Public ? "display: none;" : "")">
    <h4>Set or change the channel password:</h4>
    <br />

    <form method="post" action="@Url.Action("ChannelSettingsPass", "Chat")">
        <div>
            Password:<br />
            <input type="password" name="password" value="@Model.Password"/>
            <br/>

            <input type="hidden" name="channelId" value="@Model.PublicId" />

            <input type="submit" value="Submit" />
        </div>
    </form>

    <hr />
</div>

@if (prefs.Level >= Enumerations.ChannelUserLevel.Moderator)
{
    <div>
        <h4><a onclick="copyLink()">Copy</a> invite link.</h4>
        <hr/>
    </div>
    <div style="display: none">
        @Html.ActionLink("#","JoinChannel", "Chat", new { id = Model.PublicId }, new { id = "invlink" })
    </div>

    <script>
        function copyLink() {
            var text = document.getElementById("invlink").href;
            window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
        }
    </script>
}
    
<div style="@(prefs.Level < Enumerations.ChannelUserLevel.Administrator ? "display: none;" : "")">
    <h4>User management:</h4>
    <br />
    
    @if (Model.Users.Count == 1)
    {
        <div>
            No users yet. :(<br/>
            Invite someone!<br/>
        </div>

    }
    else
    {
        <select>
            @foreach (var user in Model.Users.Where(x => x.PublicId != me.PublicId).OrderBy(x => x.Username))
            {
                <option value="@user.PublicId">@(user.Username + (String.IsNullOrEmpty(prefs.Nickname) ? "" : "aka. " + prefs.Nickname))</option>
            }
        </select>

        foreach (var user in Model.Users.Where(x => x.PublicId != me.PublicId))
        {
            var userPrefs = user.ChannelUserPrefs.First(x => x.ChannelId == Model.PublicId);

            <div id="@user.PublicId" >
                @if (prefs.Level == Enumerations.ChannelUserLevel.Owner || userPrefs.Level < prefs.Level)
                {
                    if (userPrefs.Level > Enumerations.ChannelUserLevel.Guest)
                    {
                        bool canPromoteToOwnerOrAdmin = prefs.Level == Enumerations.ChannelUserLevel.Owner;
                        bool canPromoteToModerator = prefs.Level >= Enumerations.ChannelUserLevel.Administrator;
                        bool canBePromoted = prefs.Level > Enumerations.ChannelUserLevel.Guest;

                        <form method="post" action="@Url.Action("ChannelSettingsUser", "Chat")">
                            <div>
                                Change user level:<br />
                                <input type="radio" name="action" value="owner" @(canPromoteToOwnerOrAdmin && canBePromoted ? "" : "disabled=\"disabled\"") @(userPrefs.Level == Enumerations.ChannelUserLevel.Owner ? "checked=\"checked\"" : "") /> owner
                                <input type="radio" name="action" value="administrator" @(canPromoteToOwnerOrAdmin && canBePromoted ? "" : "disabled=\"disabled\"") @(userPrefs.Level == Enumerations.ChannelUserLevel.Administrator ? "checked=\"checked\"" : "") /> administrator
                                <input type="radio" name="action" value="moderator" @(canPromoteToModerator && canBePromoted ? "" : "disabled=\"disabled\"") @(userPrefs.Level == Enumerations.ChannelUserLevel.Moderator ? "checked=\"checked\"" : "") /> moderator
                                <input type="radio" name="action" value="user" @(canBePromoted ? "" : "disabled=\"disabled\"") @(userPrefs.Level == Enumerations.ChannelUserLevel.User ? "checked=\"checked\"" : "") /> regular
                                <br />

                                <input type="hidden" name="channelId" value="@Model.PublicId" />
                                <input type="hidden" name="userId" value="@user.PublicId" />

                                <input type="submit" value="Change privilege" />
                            </div>
                        </form>
                    }
                }
                @if (prefs.Level == Enumerations.ChannelUserLevel.Owner || userPrefs.Level < prefs.Level)
                {
                    <form method="post" action="@Url.Action("ChannelSettingsUser", "Chat")">
                        <div>
                            <input type="hidden" name="channelId" value="@Model.PublicId" />
                            <input type="hidden" name="userId" value="@user.PublicId" />
                            <input type="hidden" name="action" value="kick"/>

                            <input type="submit" value="Kick user" />
                        </div>
                    </form>
                }
            </div>
        }
    }

    <hr />
</div>
    
<div>
    <h4>Change your nickname:</h4>
    <br />

    <form method="post" action="@Url.Action("ChannelSettingsNick", "Chat")">
        <div>
            Nickname:<br />
            <input type="text" name="nickname" value="@prefs.Nickname" />
            <br />

            <input type="hidden" name="channelId" value="@Model.PublicId" />

            <input type="submit" value="Submit" />
        </div>
    </form>

    <hr />
</div>

<div>
    <h4>Leave the channel:</h4>
    <br />

    <div style="@(prefs.Level < Enumerations.ChannelUserLevel.Owner ? "display: none;" : "")">
        WARNING!<br />
        If you are the sole "owner" of this channel, leaving it will permanently delete the channel!<br />
        Consider promoting someone else as "owner" first.<br />
    </div>

    People will miss you!<br />
    @Html.ActionLink("Leave anyway.", "LeaveChannel", "Chat", new { id = Model.PublicId }, null) <br />
</div>
