﻿@using proiect_IS.Models
@using proiect_IS.Utilities
@model User

@{
    ViewBag.Title = "Create a channel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a channel</h2>
<br />
<br />

<div style="@(Model.Level==Enumerations.PublicUserLevel.ReservedNameWithEmail? "display: none;" : "")">
    You cannot create a channel as an unregistered user.<br />
    Please register your username by setting a password and an e-mail address.<br />
    @Html.ActionLink("Set a password", "Settings", "Chat") and @Html.ActionLink("an e-mail", "Settings", "Chat") now.
</div>
<div style="@(Model.Level<Enumerations.PublicUserLevel.ReservedNameWithEmail? "display: none;" : "")">
    <form method="post" action="@Url.Action("CreateChannel", "Chat")">
        <div>
            Channel name:<br />
            <input type="text" name="name" /><br />
            Channel description:<br />
            <input type="text" name="description" /><br />

            Visibility:<br />
            <input type="radio" name="visibility" value="public" checked="checked"/> public
            <input type="radio" name="visibility" value="hidden" /> hidden
            <input type="radio" name="visibility" value="private" /> private

            <br />

            <input type="submit" value="Create" />
        </div>
    </form>
</div>