﻿@using proiect_IS.Models
@using proiect_IS.Utilities
@model Channel

@{
    ViewBag.Title = "Create a room";
    Layout = "~/Views/Shared/_Layout.cshtml";

    User me = ViewBag.Me;
    ChannelUserPrefs prefs = me.ChannelUserPrefs.First(x => x.ChannelId == Model.PublicId);
}

<h2>Create a room</h2>
<br />
<br />

@if (prefs.Level < Enumerations.ChannelUserLevel.Administrator)
{
    <div>
        You cannot create a room as a @prefs.Level.ToString().<br/>
        Please ask an owner or administrator to create one.<br/>
    </div>
}
else
{
    <div>
        <form method="post" action="@Url.Action("CreateRoom", "Chat")">
            <div>
                Room name:<br />
                <input type="text" name="name" /><br />
                Room description:<br />
                <input type="text" name="description" /><br />

                Minimum user level:<br />
                <input type="radio" name="minimumUserLevel" value="owner" /> owner
                <input type="radio" name="minimumUserLevel" value="administrator" /> administrator
                <input type="radio" name="minimumUserLevel" value="moderator" /> moderator
                <input type="radio" name="minimumUserLevel" value="user" /> regular
                <input type="radio" name="minimumUserLevel" value="guest" checked="checked" /> guest
                <br />

                Allowed message types:<br />
                <input type="checkbox" name="text" checked="checked" value="true" disabled="disabled" /> <input type="hidden" name="text" value="false" /> text
                <input type="checkbox" name="image" checked="checked" value="true"/> <input type="hidden" name="image" value="false" /> image
                <input type="checkbox" name="audio" checked="checked" value="true"/> <input type="hidden" name="audio" value="false" /> audio
                <input type="checkbox" name="video" checked="checked" value="true"/> <input type="hidden" name="video" value="false" /> video
                <input type="checkbox" name="file" checked="checked" value="true"/> <input type="hidden" name="file" value="false" /> file
                <br />

                <input type="hidden" name="channelId" value="@Model.PublicId" />

                <input type="submit" value="Create" />
            </div>
        </form>
    </div>
}