﻿@using proiect_IS.Models

@model List<Channel>
@{
    ViewBag.Title = "Find a public channel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Find a public channel</h2>
<br />
<br />

<form method="post" action="@Url.Action("FindChannel", "Chat")">
    <div>
        Channel name (regex):<br />
        <input type="text" name="search" /><br />

        <input type="submit" value="Search" />
    </div>
</form>

@if (Model != null)
{
    <div>
        <hr/>
        
        <h4>Found channels:</h4><br/>

        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
            @foreach (var channel in Model)
            {
                <tr>
                    <td>@channel.Name</td>
                    <td>@channel.Description</td>
                    <td>@Html.ActionLink("Join", "JoinChannel", "Chat", new {id = channel.PublicId}, null)</td>
                </tr>
            }
        </table>
    </div>
}