﻿@using proiect_IS.Models
@using proiect_IS.Utilities
@model proiect_IS.Models.Room

@{
    ViewBag.Title = Model.Name + " settings";

    User me = ViewBag.Me;
    ChannelUserPrefs prefs = me.ChannelUserPrefs.First(x => x.ChannelId == Model.Channel.PublicId);

    bool text = (Model.AllowedMessageTypes & Enumerations.MessageType.Text) != 0;
    bool image = (Model.AllowedMessageTypes & Enumerations.MessageType.Image) != 0;
    bool audio = (Model.AllowedMessageTypes & Enumerations.MessageType.Audio) != 0;
    bool video = (Model.AllowedMessageTypes & Enumerations.MessageType.Video) != 0;
    bool file = (Model.AllowedMessageTypes & Enumerations.MessageType.File) != 0;
}

<h2>Room "@Model.Name" settings</h2>
<br />
<br />

@if (prefs.Level <= Enumerations.ChannelUserLevel.User)
{
    <div>
        You cannot edit room settings as an unprivileged user.<br />
        Ask a moderator or higher to help you.
    </div>
}
else
{
    if (prefs.Level >= Enumerations.ChannelUserLevel.Administrator)
    {
        <div>
            <h4>Change room name:</h4>
            <br />

            <form method="post" action="@Url.Action("RoomSettingsName", "Chat")">
                <div>
                    Room name:<br />
                    <input type="text" name="name" value="@Model.Name"/>
                    <br />

                    <input type="hidden" name="roomId" value="@Model.PublicId" />

                    <input type="submit" value="Submit" />
                </div>
            </form>

            <hr />
        </div>
    }

    <div>
        <h4>Change room description:</h4>
        <br />

        <form method="post" action="@Url.Action("RoomSettingsDesc", "Chat")">
            <div>
                Room description:<br />
                <input type="text" name="description" value="@Model.Description" />
                <br />

                <input type="hidden" name="roomId" value="@Model.PublicId" />

                <input type="submit" value="Submit" />
            </div>
        </form>

        <hr />
    </div>

    <div>
        <h4>Change allowed file types:</h4>
        <br />

        <form method="post" action="@Url.Action("RoomSettingsTypes", "Chat")">
            <div>
                Allowed file types:<br />
                <input type="checkbox" name="text" @(text ? "checked=\"checked\"" : "") value="true" disabled="disabled" /> <input type="hidden" name="text" value="false" /> text
                <input type="checkbox" name="image" @(image ? "checked=\"checked\"" : "") value="true" /> <input type="hidden" name="image" value="false" /> image
                <input type="checkbox" name="audio" @(audio ? "checked=\"checked\"" : "") value="true" /> <input type="hidden" name="audio" value="false" /> audio
                <input type="checkbox" name="video" @(video ? "checked=\"checked\"" : "") value="true" /> <input type="hidden" name="video" value="false" /> video
                <input type="checkbox" name="file" @(file ? "checked=\"checked\"" : "") value="true" /> <input type="hidden" name="file" value="false" /> file
                <br />

                <input type="hidden" name="roomId" value="@Model.PublicId" />

                <input type="submit" value="Submit" />
            </div>
        </form>

        <hr />
    </div>

    if (prefs.Level >= Enumerations.ChannelUserLevel.Administrator)
    {
        <div>
            <h4>Change minimum user level required:</h4>
            <br />

            <form method="post" action="@Url.Action("RoomSettingsLevel", "Chat")">
                <div>
                    Minimum user level:<br />
                    <input type="radio" name="minimumUserLevel" value="owner" @(prefs.Level == Enumerations.ChannelUserLevel.Owner ? "" : "disabled=\"disabled\"") @(Model.MinimumRequiredUserLevel == Enumerations.ChannelUserLevel.Owner ? "checked=\"checked\"" : "") /> owner
                    <input type="radio" name="minimumUserLevel" value="administrator" @(Model.MinimumRequiredUserLevel == Enumerations.ChannelUserLevel.Administrator ? "checked=\"checked\"" : "") /> administrator
                    <input type="radio" name="minimumUserLevel" value="moderator" @(Model.MinimumRequiredUserLevel == Enumerations.ChannelUserLevel.Moderator ? "checked=\"checked\"" : "") /> moderator
                    <input type="radio" name="minimumUserLevel" value="user" @(Model.MinimumRequiredUserLevel == Enumerations.ChannelUserLevel.User ? "checked=\"checked\"" : "") /> regular
                    <input type="radio" name="minimumUserLevel" value="guest" @(Model.MinimumRequiredUserLevel == Enumerations.ChannelUserLevel.Guest ? "checked=\"checked\"" : "") /> guest
                    <br />

                    <input type="hidden" name="roomId" value="@Model.PublicId" />

                    <input type="submit" value="Submit" />
                </div>
            </form>

            <hr />
        </div>
    }
}