﻿@using System.Data.Entity.Core.Objects
@using proiect_IS.Models
@using proiect_IS.Utilities
@model proiect_IS.Models.User

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account settings</h2>
<br />
<br />

<div>
    <h4>Set or change your password:</h4>
    <br />

    <form method="post" action="@Url.Action("ChangePassword", "Chat")">
        <div>
            <div style="@(Model.Level==Enumerations.PublicUserLevel.Guest? "display: none;" : "")">
                Old password:<br />
                <input type="password" name="oldPassword" />
            </div>

            New password:<br />
            <input type="password" name="newPassword" />
            <br />

            <input type="submit" value="Submit" />
        </div>
    </form>

    <hr />

    <h4>Change your username:</h4>
    <br />

    <form method="post" action="@Url.Action("ChangeName", "Chat")">
        <div>
            New username:<br />
            <input type="text" name="username" />
            <br />

            <div style="@(Model.Level == Enumerations.PublicUserLevel.Guest ? "display: none;" : "")">
                Current password:<br />
                <input type="password" name="password" />
            </div>

            <input type="submit" value="Submit" />
        </div>
    </form>


    <div style="@(Model.Level != Enumerations.PublicUserLevel.ReservedName ? "display: none;" : "")">
        <hr />

        <h4>Set an email:</h4>
        <br />

        <form method="post" action="@Url.Action("SetEmail", "Chat")">
            <div>
                Email:<br />
                <input type="email" name="email" /><br />

                Current password:<br />
                <input type="password" name="password" />
                <br />

                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>