﻿@using proiect_IS.Models
@using proiect_IS.Utilities
@model Room

@{
    ViewBag.Title = Model.Name + " chat";

    User me = ViewBag.Me;
    ChannelUserPrefs prefs = me.ChannelUserPrefs.First(x => x.ChannelId == Model.Channel.PublicId);

    Guid lastposter = new Guid();

    int i = 0;

    bool image = (Model.AllowedMessageTypes & Enumerations.MessageType.Image) != 0;
    bool audio = (Model.AllowedMessageTypes & Enumerations.MessageType.Audio) != 0;
    bool video = (Model.AllowedMessageTypes & Enumerations.MessageType.Video) != 0;
    bool file = (Model.AllowedMessageTypes & Enumerations.MessageType.File) != 0;
}

<script>
    function focusInputAndScroll() {
        document.getElementById("input").focus();
        //document.getElementById("last").scrollIntoView(true);
        var objDiv = document.getElementById("last");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
    
    window.onload = focusInputAndScroll;
</script>

<div style="height: 10vh">
    <h2>@Model.Name</h2>
    <h4>@Model.Description</h4>
    <hr/>
</div>
<div style="overflow-y: auto; height: 65vh">
    <table>
    @foreach (var message in Model.Messages.OrderBy(x => x.CreationTime))
    {
        if (message.User.PublicId != lastposter && lastposter != new Guid())
        {
            <tr>
                <td colspan="3"><hr/></td>
            </tr>
        }
        <tr>
            <td style="width: 10vw">@(message.User.PublicId != lastposter ? message.User.Username : "")</td>
            @if (message.Type == Enumerations.MessageType.Text)
            {
                <td style="width: 55vw">@message.Contents</td>
            }
            else
            {
                <td style="width: 55vw">@Html.ActionLink(message.Metadata, "GetFile", "Chat", new { id = message.PublicId }, null)</td>
            }
            <td style="width: 10vw">
                @(DateTime.Now.Date == message.CreationTime.ToLocalTime().Date ? message.CreationTime.ToLocalTime().ToShortTimeString() : message.CreationTime.ToLocalTime().ToShortDateString()) @Html.ActionLink("✕", "DeleteMessage", "Chat", new {id = message.PublicId}, new {style = "float:right;"})
            </td>
        </tr>
        lastposter = message.User.PublicId;

        if (i == Model.Messages.Count - 1)
        {
            <tr style="display: none" id="last"></tr>
        }
        i++;
    }
    </table>
</div>

<div>
    <hr />
    <form method="post" action="@Url.Action("PostMessage", "Chat")" enctype="multipart/form-data">
        <input type="text" name="content" id="input"/>

        <input type="file" name="file" />

        <input type="radio" name="uType" value="text" checked="checked" /> text
        <input type="radio" name="uType" value="image" @(image?"":"disabled=\"disabled\"")/> image
        <input type="radio" name="uType" value="audio" @(audio?"":"disabled=\"disabled\"")/> audio
        <input type="radio" name="uType" value="video" @(video?"":"disabled=\"disabled\"")/> video
        <input type="radio" name="uType" value="file" @(file?"":"disabled=\"disabled\"")/> file

        <input type="hidden" name="roomId" value="@Model.PublicId" />

        <input type="submit" value="Post" />
    </form>
</div>